# Ignore node_modules recursively
**/node_modules/

# Ignore system files
.DS_Store

# Ignore build and output directories
**/dist/

# Ignore local environment and config files
*.local

# Ignore Vite and other temporary files
.vite-inspect/
.remote-assets/

# Ignore generated TypeScript declaration files
**/components.d.ts
